html {
    box-sizing: border-box;
    background-color: lightyellow;
}
h1 {
    text-align: center;
    color: darkgreen;

}
h2 {
    text-align: center;
    color: darkolivegreen;
}
ul {
    list-style-type: disc;
    padding: 0;
    width: 300px;
    margin: auto;
    text-align: center;
}
li {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid darkgreen;
}
a {
    font-family: Verdana, sans-serif;
    text-align: right;
    color: green;
}