* {
    box-sizing: border-box;
    background-color: lightblue;
}

#container {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-family: "times new roman", times, serif;
    font-size: 50px;
    text-align: center;
    color: lightseagreen;
    border-bottom: 2px solid lightseagreen;
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: lightgoldenrodyellow;
}

#list {
    margin-top: 40px;
    background-color: lightyellow;
}

.recipes {
    font-family: Verdana, Geneva, Tahoma, sans-serif, serif;
    font-size: 50px;
    text-align: center;
    color: black;
    padding-left: 1.25rem;
    margin: 1.5rem auto;
    max-width: 520px;
    list-style: none;
}
.content {
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    color: black;
}
.wink {
    position: absolute;
    top: 25.5%;
    right: 5%;
    font-family: "cursive", sans-serif, "fantasy";
    font-size: 25px;
    text-align: center;
    color: darkgreen;
    border: solid 2px black;
}
.recipes a {
    font-family: Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    color: lightcoral;
    display: inline-block;
    padding: .4rem .8rem;
}
.recipes li {
    margin: 10px 0;
    padding: 5px;

}